<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名 -->
    <dubbo:application name="springboot-dubbo-client"/>

    <!-- 注册中心服务地址 -->
    <dubbo:registry id="zookeeper" protocol="zookeeper" address="${dubbo.registry.address}"/>

    <!--这里指定采用dubbo来传输，也可以是 rmi-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <dubbo:provider timeout="2000" retries="0"/>

    <!--开始引用服务-->

    <dubbo:reference interface="com.lemon.chen.api.UserService" id="userService" group="first" version="1.0.1"/>

    <!--<dubbo:reference interface="com.lemon.chen.api.UserService" id="userService2" group="second"/>-->


</beans>