<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>查询结果</title>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>



<div>


<span class="select-box-11">
  请输入申请表单号：
  <input maxlength="15" id="orderId"> </input>
</span>

    <button onclick="copyText()" class="buttons">点我进行查询</button>

<br/>
    结果是：
    <span class="select-box-11" id="result"></span>
</div>

<script type="text/javascript">
    // 去掉空格
    function trim(str) {
        return str;
    }

    function copyText() {

        var orderId = trim($("#orderId").val());



        if(""==orderId ||null==orderId ){

            alert("请填写正确的申请表单号");
            return ;
        }


        $.ajax({
            type: "POST",
            url: "/query",
            data: {
                "id": orderId
            },
            success: function (data) {
                data = trim(data);

                eval(data);

                if (data.code == 200) {

                    var risk = data.t;

                    $("#result").html(risk);

                } else {

                    alert(data.msg);
                }
            },
            error: function () {
                alert("系统繁忙，请稍后再试!");
            }
        });
    }
</script>

</body>
</html>